################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson1/Lesson1/.vs/Lesson1/v16/.suo
/Lesson1/Lesson1/.vs/Lesson1/v16/Server/sqlite3/storage.ide
/Lesson1/Lesson1/bin/Debug/netcoreapp3.1/Lesson1.deps.json
/Lesson1/Lesson1/bin/Debug/netcoreapp3.1/Lesson1.dll
/Lesson1/Lesson1/bin/Debug/netcoreapp3.1/Lesson1.exe
/Lesson1/Lesson1/bin/Debug/netcoreapp3.1/Lesson1.pdb
/Lesson1/Lesson1/bin/Debug/netcoreapp3.1/Lesson1.runtimeconfig.dev.json
/Lesson1/Lesson1/bin/Debug/netcoreapp3.1/Lesson1.runtimeconfig.json
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.AssemblyInfo.cs
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.AssemblyInfoInputs.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.assets.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csproj.FileListAbsolute.txt
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.csprojAssemblyReference.cache
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.dll
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.exe
/Lesson1/Lesson1/obj/Debug/netcoreapp3.1/Lesson1.pdb
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.cache
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.dgspec.json
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.props
/Lesson1/Lesson1/obj/Lesson1.csproj.nuget.g.targets
/Lesson1/Lesson1/obj/project.assets.json
/Lesson2_1/.vs/Lesson2_1/DesignTimeBuild/.dtbcache
/Lesson2_1/.vs/Lesson2_1/v16/.suo
/Lesson1/Lesson1/.vs/Lesson1/v16/Server/sqlite3/db.lock
/Lesson2_1/.vs/Lesson2_1/v16/Server/sqlite3/db.lock
/Lesson2_1/.vs/Lesson2_1/v16/Server/sqlite3/storage.ide
/Ссылка на pull-request_2.txt
/Lesson2_4/obj/project.assets.json
/Lesson2_4/obj/Lesson2_4.csproj.nuget.g.targets
/Lesson2_4/obj/Lesson2_4.csproj.nuget.g.props
/Lesson2_4/obj/Lesson2_4.csproj.nuget.dgspec.json
/Lesson2_4/obj/Lesson2_4.csproj.nuget.cache
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.pdb
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.exe
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.dll
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.csprojAssemblyReference.cache
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.csproj.FileListAbsolute.txt
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.assets.cache
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.AssemblyInfoInputs.cache
/Lesson2_4/obj/Debug/netcoreapp3.1/Lesson2_4.AssemblyInfo.cs
/Lesson2_4/Lesson2_4.sln
/Lesson2_4/bin/Debug/netcoreapp3.1/Lesson2_4.runtimeconfig.json
/Lesson2_4/bin/Debug/netcoreapp3.1/Lesson2_4.runtimeconfig.dev.json
/Lesson2_4/bin/Debug/netcoreapp3.1/Lesson2_4.pdb
/Lesson2_4/bin/Debug/netcoreapp3.1/Lesson2_4.exe
/Lesson2_4/bin/Debug/netcoreapp3.1/Lesson2_4.dll
/Lesson2_4/bin/Debug/netcoreapp3.1/Lesson2_4.deps.json
/Lesson2_4/.vs/Lesson2_4/v16/Server/sqlite3/storage.ide-wal
/Lesson2_4/.vs/Lesson2_4/v16/Server/sqlite3/storage.ide-shm
/Lesson2_4/.vs/Lesson2_4/v16/Server/sqlite3/storage.ide
/Lesson2_4/.vs/Lesson2_4/v16/Server/sqlite3/db.lock
/Lesson2_4/.vs/Lesson2_4/v16/.suo
/Lesson2_3/obj/project.assets.json
/Lesson2_3/obj/Lesson2_3.csproj.nuget.g.targets
/Lesson2_3/obj/Lesson2_3.csproj.nuget.g.props
/Lesson2_3/obj/Lesson2_3.csproj.nuget.dgspec.json
/Lesson2_3/obj/Lesson2_3.csproj.nuget.cache
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.pdb
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.exe
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.dll
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.csprojAssemblyReference.cache
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.csproj.FileListAbsolute.txt
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.assets.cache
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.AssemblyInfoInputs.cache
/Lesson2_3/obj/Debug/netcoreapp3.1/Lesson2_3.AssemblyInfo.cs
/Lesson2_3/bin/Debug/netcoreapp3.1/Lesson2_3.runtimeconfig.json
/Lesson2_3/bin/Debug/netcoreapp3.1/Lesson2_3.runtimeconfig.dev.json
/Lesson2_3/bin/Debug/netcoreapp3.1/Lesson2_3.pdb
/Lesson2_3/bin/Debug/netcoreapp3.1/Lesson2_3.exe
/Lesson2_3/bin/Debug/netcoreapp3.1/Lesson2_3.dll
/Lesson2_3/bin/Debug/netcoreapp3.1/Lesson2_3.deps.json
/Lesson2_3/.vs/Lesson2_3/v16/Server/sqlite3/storage.ide
/Lesson2_3/.vs/Lesson2_3/v16/Server/sqlite3/db.lock
/Lesson2_3/.vs/Lesson2_3/v16/.suo
/Lesson2_3/.vs/Lesson2_3/DesignTimeBuild/.dtbcache
/Lesson2_2/obj/project.assets.json
/Lesson2_2/obj/Lesson2_2.csproj.nuget.g.targets
/Lesson2_2/obj/Lesson2_2.csproj.nuget.g.props
/Lesson2_2/obj/Lesson2_2.csproj.nuget.dgspec.json
/Lesson2_2/obj/Lesson2_2.csproj.nuget.cache
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.pdb
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.exe
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.dll
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.csprojAssemblyReference.cache
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.csproj.FileListAbsolute.txt
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.assets.cache
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.AssemblyInfoInputs.cache
/Lesson2_2/obj/Debug/netcoreapp3.1/Lesson2_2.AssemblyInfo.cs
/Lesson2_2/bin/Debug/netcoreapp3.1/Lesson2_2.runtimeconfig.json
/Lesson2_2/bin/Debug/netcoreapp3.1/Lesson2_2.runtimeconfig.dev.json
/Lesson2_2/bin/Debug/netcoreapp3.1/Lesson2_2.pdb
/Lesson2_2/bin/Debug/netcoreapp3.1/Lesson2_2.exe
/Lesson2_2/bin/Debug/netcoreapp3.1/Lesson2_2.dll
/Lesson2_2/bin/Debug/netcoreapp3.1/Lesson2_2.deps.json
/Lesson2_2/.vs/Lesson2_2/v16/Server/sqlite3/storage.ide
/Lesson2_2/.vs/Lesson2_2/v16/Server/sqlite3/db.lock
/Lesson2_2/.vs/Lesson2_2/v16/.suo
/Lesson2_1/obj/project.assets.json
/Lesson2_1/obj/Lesson2_1.csproj.nuget.g.targets
/Lesson2_1/obj/Lesson2_1.csproj.nuget.g.props
/Lesson2_1/obj/Lesson2_1.csproj.nuget.dgspec.json
/Lesson2_1/obj/Lesson2_1.csproj.nuget.cache
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.pdb
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.exe
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.dll
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.csprojAssemblyReference.cache
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.csproj.FileListAbsolute.txt
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.assets.cache
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.AssemblyInfoInputs.cache
/Lesson2_1/obj/Debug/netcoreapp3.1/Lesson2_1.AssemblyInfo.cs
/Lesson2_1/bin/Debug/netcoreapp3.1/Lesson2_1.runtimeconfig.json
/Lesson2_1/bin/Debug/netcoreapp3.1/Lesson2_1.runtimeconfig.dev.json
/Lesson2_1/bin/Debug/netcoreapp3.1/Lesson2_1.pdb
/Lesson2_1/bin/Debug/netcoreapp3.1/Lesson2_1.exe
/Lesson2_1/bin/Debug/netcoreapp3.1/Lesson2_1.dll
/Lesson2_1/bin/Debug/netcoreapp3.1/Lesson2_1.deps.json
*.dtbcache
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cs
*.cache
*.txt
*.props
*.targets
/Lesson3_2/Lesson3_2.sln
/Lesson3_2/Lesson3_2.csproj
/ConsoleApp1
/Lesson5_1/obj/Debug/net5.0
