################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Lesson1/Lesson1/.vs/Lesson1/v16/.suo
